/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes choosing {
  0% {
    left: -20px;
  }
  
  100% {
    left: -16px;
  }
}

@keyframes focusing {
  from {
    opacity: 100%;
  }
  
  to {
    opacity: 60%;
  }
}

@keyframes focusing__border {
  from {
    transform: scaleX(0);
  }
  
  to {
    transform: scaleX(1);
  }
}

@keyframes hover__botton {
  from {
    transform: scaleX(0);
  }
  
  to {
    transform: scaleX(1);
  }
}

@keyframes heart-grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-grow {
  0% {
    fill: transparent;
  }
  
  50% {
    fill: var(--main-body);
  }
  
  100% {
    fill: transparent;
  }
}