/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button {
  opacity: 100%;
  transition: opacity 0.3s ease;
  animation-fill-mode: forwards;
  transform-origin: 0 0;
}

.theme-menu__button:disabled::before {
  animation: choosing 0.5s ease-in-out infinite alternate;
}

@keyframes choosing {
  0% {
    left: -20px;
  }
  
  100% {
    left: -16px;
  }
}

.theme-menu__button::after {
  transform-origin: 0 0;
  animation-iteration-count: 1;
  transition: transform 0.3s ease;
  animation-fill-mode: forwards;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card__icon-button {
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__button {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.card__button::before {
  transform-origin: 0 0;
  animation-iteration-count: 1;
  transition: transform 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: scaleX(0);
}

.card__button:hover::before {
  transform: scaleX(1);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-font-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-font-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--main-body);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--main-body);
  transition: fill 0.3s linear 0.05s;
}

.contour {
  fill: var(--accent-font-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-body);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-body);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-grow 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-grow 0.3s 0.3s ease-in alternate;
}

@keyframes heart-grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-grow {
  0% {
    fill: transparent;
  }
  
  50% {
    fill: var(--main-body);
  }
  
  100% {
    fill: transparent;
  }
}