/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-font-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-inter);
  }
}

.header {
  background-color: var(--accent-background-color);
  border: 2px solid var(--accent-font-color);
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 327px;
  max-block-size: 368px;
  width: 100%;
  box-sizing: border-box;
  padding-top: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  row-gap: 25px;
  margin-block: 100px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.header__logo-title {
  font-family: var(--font-press);
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  
}

.header__logo-title-caption {
  font-family: var(--font-press);
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.header__theme-menu {
  width: 100%;
  box-sizing: border-box;
  padding-left: clamp(9.625rem, -1.9856rem + 49.5385vw, 19.6875rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  justify-content: center;
}

.theme-menu__item {
  background-color: inherit;
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  font-family: var(--font-press);
  font-size: 14px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  animation-name: choosing;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  animation-name: focusing;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 2px solid var(--accent-font-color);
  inline-size: 100%;
  block-size: 100%;
  left: 0;
  top: 2px;
  transform-origin: 0 0;
  animation-name: focusing__border;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.main__content {
  width: 100%;
  min-inline-size: 320px;
  max-inline-size: 700px;
}

.main__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.main__content-item {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-background-color);
}

.main__content-post-header {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-header);
  text-align: left;
  box-sizing: border-box;
  padding: 4px 10px 4px 10px;
  border: 2px solid var(--accent-font-color);
}

.main__content-post {
  width: 100%;
  position: relative;
  z-index: 0;
  border: 2px solid var(--accent-font-color);
  box-sizing: border-box;
}

.watermark {
  position: absolute;
  right: clamp(0.813rem, -0.053rem + 3.692vw, 1.563rem);
  top: 25px;
  font-family: var(--font-press);
  color: var(--accent-font-color);
  opacity: 0.5;
  font-size: 14px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-transform: lowercase;
  text-shadow: 1px 1px #d3deed;
}

@supports ((-webkit-text-stroke: 1px var(--accent-background-color)) or (text-stroke: 1px var(--accent-background-color))) {
  .watermark {
    -webkit-text-stroke: 1px var(--accent-background-color);
    text-stroke: 1px var(--accent-background-color);
    text-shadow: none;
  }
}

.watermark-upper {
  text-transform: uppercase;
}

.main__content-post-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  display: block;
}

.main__content-post-content {
  border: 2px solid var(--accent-font-color);
  border-top: none;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
  box-sizing: border-box;
}

.main__content-post-content-paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.main__content-post-content-text {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-content);
  line-height: 21px;
  text-align: left;
}

.article-footer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  outline: 2px solid transparent;
}

.like-icon {
  width: 39px;
  height: 38px;
}

.card__like-button {
  box-sizing: border-box;
  min-width: 130px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-font-color);
  background-color: inherit;
  position: relative;
}

.card__like-button:focus-visible,
.save-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-font-color);
  transition: box-shadow 0.3s;
}

.card__like-button:hover,
.save-button:hover {
  cursor: pointer;
}

.card__like-button:hover::before,
.save-button:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-font-color);
  transform-origin: 0 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: hover__botton;
}

.button__text {
  font-family: var(--font-press);
  color: var(--button__text);
  mix-blend-mode: difference;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  z-index: 1;
}

.card__icon-button:focus,
.save-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-font-color);
  transition: outline 0.3s ease;
}

.core {
  transition-property: fill;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.like-icon:hover,
.card__like-button:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--accent-font-color);
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.like-icon:hover .main-body {
  fill: var(--accent-font-color) ;
  transition-property: fill;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.main-body {
  fill: transparent;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.like-icon:active .core {
  fill: var(--main-body);
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}

.like-icon:active .main-body {
  fill: var(--main-body);
  transition-property: fill;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}

.contour {
  fill: var(--accent-font-color);
  transition-property: fill;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body);
  transition-property: fill;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--main-body);
}

.like-icon.is-liked .heart {
  animation-name: heart-grow;
  animation-duration: 0.3s;
  transition-delay: 0.1s;
  animation-timing-function: ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-name: sparks-grow;
  animation-duration: 0.3s;
  transition-delay: 0.3s;
  animation-timing-function: ease-in;
}

.footer {
  margin-top: 50px;
  margin-bottom: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.save-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  column-gap: 3.5px;
  padding: 15px 20px;
  background-color: inherit;
  border: 2px solid var(--accent-font-color);
  align-items: center;
  position: relative;
  background-color: var(--accent-background-color);
}

.save-icon {
  height: 21px;
  width: 21px;
  color: var(--button__text);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    row-gap: 8px;
  }

  .save-icon {
    height: 28px;
    width: 28px;
  }

  .dialog {
    padding: 42px 30px;
  }
}

.filter__blure {
  filter: blur(0.1rem);
}

.filter__saturate {
  filter: saturate(110%);
}

.filter__sepia {
  filter: sepia(30%);
}

.filter__brightness {
  filter: brightness(120%) blur(0.03rem);
}

.filter__contrast {
  filter: contrast(1.5);
}

.filter__invert {
  filter: invert(0.1);
}

.filter__hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter__more {
  filter: grayscale(0.2) hue-rotate(-20deg) contrast(1.2) blur(0.03rem);
} 

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

#dialog-id {
  padding: 0;
  max-inline-size: 353px;
  min-inline-size: 341px;
  border: 2px solid var(--accent-font-color);
  background-color: var(--accent-background-color);
  color: var(--accent-font-colorfont);
}

.dialog {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.dialog__header {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.dialog__header-title {
  font-family: var(--font-press);
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.save-icon-dialog {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}


/** { outline: 1px solid yellow; }*/